.ourcoffeehead{
    height: 260px;
    width: 100wv;
    background: url('../../resources/img/bg/our-coffee-bg.jpg');
    h2{
        text-align: center;
        padding-top: 130px;
        color: #FFFF;
    }
}